span,
h2 {
	color: white;
}
h2 {
	font-size: 4em;
	margin-top: 0;
}
p {
	font-size: 2em;
	text-align: center;
}
body {
	background-color: #19202e;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
main {
	background-color: #1e2738;
	flex-direction: column;
	display: flex;
	align-items: center;
	min-width: 1150px;
	margin-left: 2em;
	margin-right: 2em;
	border-radius: 2em;
}
header {
	display: flex;
	justify-content: space-around;
}
h1 {
	color: white;
	text-align: center;
}
p {
	font-size: 3cap;
	color: #8ba0c5;
}
.socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3em;
}
.slink {
	color: white;
	text-decoration: none;
}
.photo {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin-top: 1em;
	margin-bottom: 1em;
}
.aboutShort {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.infoPart {
	padding: 2em;
	display: flex;
	justify-content: space-between;
	border-right: 1px white;
}
/* .about {
	max-width: 50%;
} */
@media (max-width: 1200px) {
	.infoPart {
		flex-direction: column;
	}
}
.infoFlex {
	display: flex;
	flex-direction: column;
	border-right: 2px solid white;
	max-width: 700px;
	padding: 1em;
}
.skills {
	display: flex;
	flex-direction: column;
	max-width: 700px;
	min-width: 200px;
	color: white;
	
}
